[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
aiofiles = "*"
aiohttp = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
build = "*"
twine = "*"
httpx = {extras = ["socks"], version = "*"}

[requires]
python_version = "3.9"
