[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
aiohttp = "*"
biopython = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
pytest = "*"
pytest-cov = "*"
build = "*"
twine = "*"
httpx = {extras = ["socks"], version = "*"}
python-dotenv = "*"
boto3 = "*"

[requires]
python_version = "3.9"
